OPENAI_API_KEY=Your_Api_Key
OPENAI_MODEL_NAME=gpt-4o-mini
TEMPERATURE=0.1
LOG_LEVEL=INFO
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://apac.api.smith.langchain.com
LANGCHAIN_API_KEY=Your_Api_Key
LANGCHAIN_PROJECT=motor-od-claim-adjudicator
