fastapi
uvicorn
streamlit
requests
python-dotenv

langchain
langchain-openai
langchain-chroma
langchain-text-splitters
langgraph

chromadb
openai

presidio-analyzer
presidio-anonymizer

pydantic
langsmith

mem0ai

ruff
pytest